/.env
/.venv
/data/raw
/logs
/run_bot.ps1
/run_train.ps1
/__pycache__
src/bot/__pycache__
src/shared/__pycache__
data/processed/*
!data/processed/
!data/processed/.gitkeep
chekpoints/*
!chekpoints/
!chekpoints/.gitkeep